package views

import "github.com/LamichhaneBibek/goth-template/internal/components"

templ Blog(title string) {
	@components.Layout(title)
	@components.NavBar()
	<h1>Blog Coming soon</h1>
	@components.Footer()
}
